<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AES</key>
	<dict>
		<key>IV</key>
		<string>AES256IV</string>
		<key>KEY</key>
		<string>AES265KEY</string>
	</dict>
</dict>
</plist>
